h4
{
   color:#BB7FF6;
    font-size: 65px;
    font-family: sans-serif;
}
p
{
    color:#BB7FF6;
    font-size: 34px;
}
body
{
    text-align: center;
    background-color: #650668 ;
}
form
{
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#BB7FF6
}
button
{
    font-size: 36px ;
    border-color:#E829EE;
    color:#a95df5;
}
select
{
    font-size: 36px;
    border-color:#E829EE;
    color:#a95df5;
}